/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

 @plugin "daisyui" {
   themes: night;
 }

.bitCount{
  font-family: 'Bitcount Grid Double', sans-serif;
}

.MonsieurLaDoulaise {
  font-family: 'Monsieur La Doulaise', cursive;
}

.winky-rough{
  font-family: 'Winky Rough', cursive;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
